packrat/lib*/
.Rproj.user
*.Rproj
.Rhistory
.Rprofile
vignettes/.Rhistory
vignettes/.Rhistory

# raw data
inst/extdata/tf_target_sources/*
inst/extdata/benchmark/*

inst/scripts/benchmark.R
inst/scripts/chea3.R
inst/scripts/construct_benchmark_data.R

vignettes/*_cache

docs/
