<div class="copyright">
  <p>{{#package}}Developed by {{{authors}}}.{{/package}}</p>
</div>

<div class="privacy">
  <p><strong>Privacy:</strong> Usage of this site follows
      <a href="https://www.embl.de/aboutus/privacy_policy/index.html">EMBL’s Privacy Policy</a><br/>
      In accordance with that policy, we use Matomo to collect anonymised data on visits to, downloads from, and searches of this site.
      Contact <a href="mailto:christian.holland@bioquant.uni-heidelberg.de">Christian Holland</a> for details.</p>
</div>